<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Elenco verbali</title>
</head>
<body>
	<h1>Elenco verbali</h1>

	<table border="1">
		<thead>
			<tr>
				<th>Nome corso</th>
				<th>Data appello</th>
				<th>Data verbale</th>

			</tr>
		</thead>
		<tbody>
			<tr th:each="infoverbale : ${infoverbale}">
				<td th:text="${infoverbale.nomecorso}">123456</td>
				<td th:text="${infoverbale.dataapp}">Rossi</td>
				<td th:text="${infoverbale.dataverb}">Mario</td>


			</tr>
		</tbody>

	</table>




</body>
</html>
