<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Dettaglio Studente</title>
</head>
<body>
	<h1>Dettaglio Studente</h1>

	<form th:action="@{'/ModificaStudente?studenteId=' + ${iscritto.id} + '&appId=' + ${iscritto.idapp}}" method="post">
		

		<p>
			<strong>Matricola:</strong> <span th:text="${iscritto.matricola}">123456</span>
		</p>
		<p>
			<strong>Cognome:</strong> <span th:text="${iscritto.cognome}">Rossi</span>
		</p>
		<p>
			<strong>Nome:</strong> <span th:text="${iscritto.nome}">Mario</span>
		</p>
		<p>
			<strong>Email:</strong> <span th:text="${iscritto.email}">mario.rossi@email.it</span>
		</p>
		<p>
			<strong>Laurea:</strong> <span th:text="${iscritto.corsolaurea}">Ingegneria
				Informatica</span>
		</p>

		<p>
			<strong>Voto:</strong> <input type="text" name="voto"
				th:value="${iscritto.voto}" />
		</p>

		<p>
			<strong>Stato Valutazione:</strong> <span
				th:text="${iscritto.statodivalutazione.label}">Pubblicato</span>
		</p>
		<button type="submit">Salva modifiche</button>


	</form>



</body>
</html>
