<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Studente Home page</title>
<script src="utils.js" charset="utf-8" defer></script>
<script src="loginManagement.js" charset="utf-8" defer></script>

</head>
<body>
	<h1>Studente HomePage</h1>
	<p>Benvenuto, <strong th:text="${username}">Nome Studente</strong>!</p>
    <h2>Lista Corsi</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Corsi</th>
            </tr>
        </thead>
        <tbody>
           <tr th:each="corso : ${corso}">
                <td>
                    <a th:href="@{'/StudenteHomePage?corsoId=' + ${corso.idcorso}}"
                       th:text="${corso.nomecorso}">Nome Corso</a>
                </td>
            </tr>
        </tbody>
    </table>
    
    
    <h2>Appelli del Corso</h2>
    <table border="1" th:if="${appelli != null and #lists.size(appelli) > 0}">
        <thead>
            <tr>
                <th>Data Appello</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="appelli : ${appelli}">
                <td>
                <a th:href="@{'/Esito?appelloId=' + ${appelli.idapp}  + '&corsoId=' + ${appelli.idcorso}}"
                   th:text="${appelli.data}">Data Appello</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
